@theme inline {
    --font-mono: var(--font-mono);
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);

    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }

        to {
            height: var(--reka-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }

        to {
            height: 0;
        }
    }
}

/* zkit sync */
:root {
    --zkit-font-mono: var(--font-mono);
    --zkit-font-sans: var(--font-sans);
    --zkit-font-serif: var(--font-serif);

    --zkit-background: var(--background);
    --zkit-foreground: var(--foreground);

    --zkit-card: var(--card);
    --zkit-card-foreground: var(--card-foreground);

    --zkit-popover: var(--popover);
    --zkit-popover-foreground: var(--popover-foreground);

    --zkit-primary: var(--primary);
    --zkit-primary-foreground: var(--primary-foreground);

    --zkit-secondary: var(--secondary);
    --zkit-secondary-foreground: var(--secondary-foreground);

    --zkit-muted: var(--muted);
    --zkit-muted-foreground: var(--muted-foreground);

    --zkit-accent: var(--accent);
    --zkit-accent-foreground: var(--accent-foreground);

    --zkit-destructive: var(--destructive);
    --zkit-destructive-foreground: var(--destructive-foreground);

    --zkit-border: var(--border);
    --zkit-input: var(--input);
    --zkit-ring: var(--ring);

    --zkit-chart-1: var(--chart-1);
    --zkit-chart-2: var(--chart-2);
    --zkit-chart-3: var(--chart-3);
    --zkit-chart-4: var(--chart-4);
    --zkit-chart-5: var(--chart-5);

    --zkit-radius: var(--radius);

    --zkit-sidebar: var(--sidebar);
    --zkit-sidebar-foreground: var(--sidebar-foreground);

    --zkit-sidebar-primary: var(--sidebar-primary);
    --zkit-sidebar-primary-foreground: var(--sidebar-primary-foreground);

    --zkit-sidebar-accent: var(--sidebar-accent);
    --zkit-sidebar-accent-foreground: var(--sidebar-accent-foreground);
}

