:root, .dark {
    --background: #2e3440;
    --foreground: #d8dee9;
    --card: #3b4252;
    --card-foreground: #eceff4;
    --popover: #3b4252;
    --popover-foreground: #eceff4;
    --primary: #88c0d0;
    --primary-foreground: #2e3440;
    --secondary: #434c5e;
    --secondary-foreground: #e5e9f0;
    --muted: #434c5e;
    --muted-foreground: #aeb8c5;
    --accent: #4c566a;
    --accent-foreground: #eceff4;
    --destructive: #bf616a;
    --destructive-foreground: #eceff4;
    --border: #4c566a;
    --input: #4c566a;
    --ring: #88c0d0;
    --chart-1: #88c0d0;
    --chart-2: #81a1c1;
    --chart-3: #a3be8c;
    --chart-4: #ebcb8b;
    --chart-5: #b48ead;
    --sidebar: #272c36;
    --sidebar-foreground: #d8dee9;
    --sidebar-primary: #88c0d0;
    --sidebar-primary-foreground: #2e3440;
    --sidebar-accent: #434c5e;
    --sidebar-accent-foreground: #eceff4;
    --sidebar-border: #4c566a;
    --sidebar-ring: #88c0d0;
}
